@font-face {
    font-family: PP mori;
    src: url(./ppmori.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: PP mori;
    color: #fff;
}

html, body {
    height: 100%;
    width: 100%;
}
#purple{
    height: 100vh;
    width: 100vw;
    top: 0;
    position: fixed;
    z-index: 100;
    background-color: #EDBFFF;
    opacity: 0;
    display: none;
    transition: opacity ease 1s;
    
}
.cursor{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: fixed;
    background-color: #EDBFFF;
    z-index: 8;
    transition: background-image ease 0.5s;
    background-position: center;
    background-size:cover ;
    mix-blend-mode: difference;
}
.main{
    background-color: #0F0D0D;
    cursor: none;
}

.page1{
    min-height: 100vh;
    width: 100%;
    position: relative;
    z-index: 9;
    padding-top: 12vw;
}


#nav{
    height: 55px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    position: fixed;
    mix-blend-mode: difference;
    z-index:102;
}
#nav img{
    height: 27px;
}
#nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#nav #circle{
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-color: #fff;
}
#nav h4{
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}
#nav h4:nth-child(1){
    border-bottom: 1.5px solid #fff;
}

.page1 h1{
    font-size:7vw ;
    font-family: PP Mori;
    font-weight: 500;
   
    margin-left: 6vw;
}
.page1 h2{
font-size: 7vw;
font-weight: 400;
font-family: PP Mori;
margin-left: 24vw;
}
.page1 video{
    width: 60%;
    margin-top: 10vw;
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
}

.page2{
    min-height: 80vh;
    width: 100%;
    padding: 100px 5vw;
    border-bottom: 2px solid #6c6c6c;
    position: relative;
    z-index: 9;
}

.page2 h1{
    font-size:7vw;
    font-weight: 500;
    color: #111;

}
.page2-container{
    height: 60vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 0 5vw; */
}
.page2-left{
    /* background-color: blue; */
    width: 40%;
}
.page2-right{
    /* background-color: blue; */
    width: 24%;
}
.page2-left h2{
    font-size: 4vw;
    font-weight: 300;
    color: #111;
    line-height: 4vw;
}
.page2-right p{
    font-size: 28px;
    color: #111;
}
.page2-right button{
    width: 100%;
    border-radius: 50px;
    border: none;
    padding: 4px 0;
    background-color: #EDBFFF;
    color: #111;
    margin-top: 20px;
}

.page3{
    min-height: 100vh;
    width: 100%;
    padding-top: 100px;
    position: relative;
    z-index: 9;
}

.page3 h1{
    font-size: 6.8vw;
    font-weight: 300;
    color: #111;
    margin-left: 100px;
}
.page3-part1{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

}
.page3-part1 img{
    height: 400px;
    margin-top: 160px;
}
.page3-part1 video{
    height: 400px;
    margin-top: 40px;
}
.page4{
    min-height: 90vh;
    width: 100%;
    position: relative;
    z-index: 9;
    padding: 100px 100px;
    margin-top: 10vh;
    border-bottom: 1px solid white;
    overflow:hidden;
}
.elem{
/* background-color: salmon; */
display: flex;
align-items: center;
justify-content: center;
overflow: hidden;
}

.elem h1{
font-size: 6.4vw;
transition: all ease-out 0.5s;
z-index: 9;
}
.elem :hover h1{
transform: translateY(-100%);
color: #EDBFFF;
opacity: 2;
}
.text-div{
height: 85px;
width: auto;
}
.elem img{
position: absolute;
opacity: 0;
transition: all ease-out 0.5s;
transform: translateY(50%) rotate(2deg);
height: 300px;
width: 300px;
}
.elem:hover img{
opacity: 1;
transform: translateY(0%) rotate(2deg);
}
.elem :nth-child(1){
left: 1%;
width: 30vw;
}
.elem :nth-child(3){
right: 6%;
}



.page5{
    min-height: 100vh;
    width: 100%;
    position: relative;
    z-index: 9;
    padding: 140px 100px;
}
.page5 h2{
    font-size: 4vw;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 50px;
}
.box{
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0 20px;
    border-top: 2px solid #dadada;
}

.box:nth-last-child(1){
    border-bottom: 2px solid #dadada;

}


.footer{
    width: 100%;
    height: 100vh;
    background-color: #EDBFFF;
    mix-blend-mode: difference;
    padding: 7vw 6vw;
    overflow: hidden;
}

.footer> .upper{
    width: 96%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid black;
    padding-bottom: 5vw;
}

.upper> .footer-text{
    font-size: 1.5vw;
}

.upper> .circle{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
}


.lower{
    height: 60%;
    width: 96%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lower .left{
    width: 35vw;
}

.lower .left h4{
    font-size: 1.7vw;
    font-weight: 400;
}

.lower .left input{
    border: none;
    background-color: transparent;
    border-bottom: 2px solid black;
    width: 100%;
    height: 50px;
    font-size: 1.2vw;
    margin-top: 2.5vw;
}
.lower .left input:focus{
    outline: none;
}

.lower .left button{
    width: 8vw;
    height: 2vw;
    border-radius: 20px;
    background-color: transparent;
    font-size: 1vw;
    position: relative;
    left: 27vw;
    bottom: 3vw;
    border: 1px solid black;
}

.lower .left p{
    margin-top: 1vw;
}

.lower h1{
    font-size: 1.7vw;
    font-weight: 400;
}

.focus{
    color: black!important;
    background-color: #111!important;
    transition: all 0.2s;
    cursor: pointer;
}
